.cart-list {
  margin-top: 30px;
  order: 1;
}

.cart-list__row {
  display: none;
}

.cart-list__text {
  color: $theme-color-primary;
}

.cart-list__line {
  border: none;
  border-bottom: 2px solid black;
  margin-top: 0;
}

@include media-breakpoint-up(md) {
  .cart-list__row {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {
  .cart-list {
    order: 0;
  }
}
