.catalog-size-button {
  background-color: transparent;
  margin: 5px 0;
  padding: 4px 4px;
  border: 1px solid black;
}

.catalog-size-button--active {
  @extend .catalog-size-button;
  background-color: $theme-color-primary;

  .catalog-size-button__text {
    color: $theme-color-tertiary;
  }
}

.catalog-size-button__text {
  margin: 0;
  text-transform: uppercase;
}
