.header {
  position: fixed;
  z-index: 1100;
  width: 100%;
  background-color: $theme-header-color;
}

.header__logo-container {
  display: none;
}

.header__brand-container {
  display: none;
}

.header__brand {
  height: 48px;
  margin: 0;
  padding: 0;
}

.header__toggle {
  padding: 0;
  margin-left: 32px;
  border: none;
  &:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    height: 48px;
    width: 48px;
    background-image: url("../Assets/svg/MenuIcon.svg");
    &:focus {
      outline: none;
    }
  }
}

.header__nav-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
  overflow-y: auto;
  padding: 20px 20px;
  background-color: $theme-header-color;
  border-top: 2px solid $theme-color-primary;
}

.header__nav-link {
  margin: auto;
  padding: 10px 20px;
  font-size: 2rem;

  &.active {
    font-weight: 900;
  }
}

.header__nav-link--dropdown {
  @extend .header__nav-link;
  .dropdown-toggle {
    text-align: center !important;
    &:after {
      display: none;
    }
  }
}

.header__nav-item {
  text-align: center;
  height: 48px;
}

//Media Queries for displays
@media (min-width: 200px) {
  .header__logo-container {
    display: inherit;
  }
}
@media (min-width: 640px) {
  .header__brand-container {
    display: inherit;
  }
}
