.shop {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop__container {
  padding-top: 64px;
}

.shop__hero-image-container {
  margin: 0 -15px 30px;
}

.shop__hero-image {
  display: none;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .shop__hero-image {
    display: block;
  }
}
